.sky-form .checkbox input:checked+i, .sky-form .radio input:checked+i, .sky-form .toggle input:checked+i {
    background-color: #F67777;
}

.row1 {
    min-height: 6.25em;
    height: initial;
}

.pro-img{
    min-height: 250px;
}