<div class="header">
	<div class="container">
		<div class="head">
			<div class=" logo">
				<a href="/"><img src="./app/images/logo.png" alt=""></a>
			</div>
		</div>
	</div>
	<div class="header-top">
		<div class="container">
			<div class="col-sm-5 col-md-offset-2  header-login">
				<ul>
					<li *ngIf="isLogguedIn()"><a href="javascript:;" (click)="logout()">Profile</a></li>
					<li *ngIf="isLogguedIn()"><a href="new/product">Sell products</a></li>
					<li *ngIf="isLogguedIn()"><a href="javascript:;" (click)="logout()">Logout</a></li>

					<li *ngIf="!isLogguedIn()"><a href="login">Login</a></li>
					<li *ngIf="!isLogguedIn()"><a href="register">Register</a></li>
				</ul>
			</div>

			<div class="col-sm-5 header-social">
				<ul>
					<li><a href="#"><i></i></a></li>
					<li><a href="#"><i class="ic1"></i></a></li>
					<li><a href="#"><i class="ic2"></i></a></li>
					<li><a href="#"><i class="ic3"></i></a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	<div class="container">

		<div class="head-top">

			<div class="col-sm-5 col-md-offset-2 h_menu4">
				<nav class="navbar nav_bottom" role="navigation">

					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav nav_1">
							<li><a class="color" href="/">Home</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->

				</nav>
			</div>
			<div class="col-sm-5 search-right">
				<ul class="heart">
					<li>
						<a class="play-icon popup-with-zoom-anim" href="#small-dialog">
							<i class="glyphicon glyphicon-search"> </i>
						</a>
					</li>
				</ul>
				<div class="cart box_1">
					<a href="checkout.html">
						<h3>
							<div class="total">
								<span class="simpleCart_total">{{cart.size}} items</span></div>
							<img src="./app/images/cart.png" alt="" /></h3>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>