<div class="container container-spacer">
    <div class="check-out">
        <div class="bs-example4" data-example-id="simple-responsive-table">
            <div class="table-responsive">
                <table class="table-heading simpleCart_shelfItem">
                    <tr>
                        <th class="table-grid text-center">Item</th>
                        <th>Prices</th>
                        <th>Quantity </th>
                        <th>Subtotal</th>
                    </tr>
                    
                    <tr class="cart-header" *ngFor="let item of cart.source._value; let i=index">
                            <td [ngClass]="{'disabled' : !item.attribute.active}" class="ring-in">
                            <a routerLink="/product/{{item.product._id}}" class="at-in"><img src="{{item.product.pictures[0]}}" class="img-responsive" alt=""></a>
                            <div class="sed">
                                <h5><a routerLink="/product/{{item.product._id}}"> {{item.product.name}} </a></h5>
                                <p> {{item.attribute.state}} {{item.attribute.color}} {{item.attribute.size}} for {{item.attribute.style }} </p>

                            </div>
                            <div class="clearfix"> </div>
                            </td>
                            <td [ngClass]="{'disabled' : !item.attribute.active}"> ${{(item.attribute.price-item.attribute.price*item.attribute.discount/100)}} </td>
                            <td [ngClass]="{'disabled' : !item.attribute.active}"> {{item.quantity}} </td>
                            <td [ngClass]="{'disabled' : !item.attribute.active}" class="item_price"> ${{item.quantity*(item.attribute.price-item.attribute.price*item.attribute.discount/100)}} </td>
                            <td class="add-check"><a class="item_add hvr-skew-backward" (click)="removeFromCart(i)">Remove from Cart</a></td>
                    </tr>

                    <tr>
                        <th></th>
                        <th></th>
                        <th>Total</th>
                        <th> ${{getCartTotal()}} </th>
                    </tr>
                </table>
            </div>
        </div>
        <div [ngClass]="{'disabled': loading}" class="text-center produced">
            <a *ngIf="!loading" (click)="proceedToBuy()" class="hvr-skew-backward">Proceed To Buy</a>
            <div *ngIf="loading" class="loader"></div>
        </div>
    </div>
</div>