<div class="container">
    <div class="check-out">
        <div class="bs-example4" data-example-id="simple-responsive-table">
            <div class="table-responsive">
                <table class="table-heading simpleCart_shelfItem">
                    <tr>
                        <th class="table-grid text-center">Item</th>
                        <th>Prices</th>
                        <th>Quantity </th>
                        <th>Subtotal</th>
                    </tr>
                    
                    <tr class="cart-header" *ngFor="let item of cart.source._value">
                        <td class="ring-in">
                            <a href="single.html" class="at-in"><img src="{{item.product.pictures[0]}}" class="img-responsive" alt=""></a>
                            <div class="sed">
                                <h5><a href="single.html"> {{item.product.name}} </a></h5>
                                <p> {{item.attribute.state}} {{item.attribute.color}} {{item.attribute.size}} for {{item.attribute.style }} </p>

                            </div>
                            <div class="clearfix"> </div>
                        </td>
                        <td> ${{(item.attribute.price-item.attribute.price*item.attribute.discount/100)}} </td>
                        <td> {{item.quantity}} </td>
                        <td class="item_price"> ${{item.quantity*(item.attribute.price-item.attribute.price*item.attribute.discount/100)}} </td>
                        <td class="add-check"><a class="item_add hvr-skew-backward" href="#">Remove from Cart</a></td>
                    </tr>

                    <tr>
                        <th></th>
                        <th></th>
                        <th>Total</th>
                        <th> ${{getCartTotal()}} </th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="produced">
            <a href="single.html" class="hvr-skew-backward">Produced To Buy</a>
        </div>
    </div>
</div>