<div class="container">
	<div class="login">
		<form novalidate [formGroup]="form" (ngSubmit)="login()" >
			<div class="col-md-6 col-md-offset-3 login-do">
				<div class="login-mail" >
					<input type="text" placeholder="Email or Username" formControlName="username" />
					<i class="glyphicon glyphicon-envelope"></i>
				</div>

				<div class="login-mail">
					<input type="password" placeholder="Password" formControlName="password" />
					<i class="glyphicon glyphicon-lock"></i>
				</div>
				<div *ngIf="error" class="alert alert-danger">{{error}}</div>
				<label class="hvr-skew-backward">
					<input [disabled]="loading" type="submit" value="login">
				</label>
			</div>
		</form>
	</div>
</div>