<div class="col-md-10">
    <div class="row">
        <div class="col-md-3">
            <i class="glyphicon glyphicon-usd"></i>{{attribute.price}}
        </div>
        <div class="col-md-3">
            <i class="glyphicon glyphicon-fire"></i>{{attribute.discount}}
        </div>
        <div class="col-md-3">
            <i class="glyphicon glyphicon-plus"></i>{{attribute.stock}}
        </div>
        <div class="col-md-3">
            <i class="glyphicon glyphicon-tag"></i>{{attribute.state}}
        </div>
    </div>
    <div class="row attributes_secondrow">
        <div class="col-md-4">
            <i class="glyphicon glyphicon-tint"></i>{{attribute.color}}
        </div>
        <div class="col-md-4">
            <i class="glyphicon glyphicon-user"></i>{{attribute.style}}
        </div>
        <div class="col-md-4">
            <i class="glyphicon glyphicon-resize-full"></i>{{attribute.size}}
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="">1
    </div>
</div>