<div class="col-md-3 item-grid simpleCart_shelfItem">
	<div class=" mid-pop">
		<div class="pro-img">
			<img src="{{item.pictures[0]}}" class="img-responsive" alt="">
			<div class="zoom-icon ">
				<a class="picture" href="app/images/pc.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
				<a href="single.html"><i class="glyphicon glyphicon-menu-right icon"></i></a>
			</div>
		</div>
		<div class="mid-1">
			<div class="women">
				<div class="women-top">
					<span>Women</span>
					<h6><a href="single.html">{{item.name}}</a></h6>
				</div>
				<div class="img item_add">
					<a href="#"><img src="app/images/ca.png" alt=""></a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="mid-2">
				<p>
					<label *ngIf="sale()">${{item.attributes[0].price}}</label>
					<em class="item_price">${{finalPrice}}</em>
				</p>
				<div class="block">
					<div class="starbox small ghosting"> </div>
				</div>
			</div>
		</div>
	</div>
</div>