<div class="container">
	<form novalidate [formGroup]="formProduct" (ngSubmit)="createProduct()">
		<div class="top-buffer col-md-8 col-md-offset-2 login-do">
			<div class="login-mail">
				<input type="text" formControlName="name" placeholder="Product Name" required>
				<i class="glyphicon glyphicon-list-alt"></i>
			</div>
			<div class="login-mail">
				<textarea rows="4" cols="56" formControlName="description" placeholder="Product Description" required></textarea>
				<i class="glyphicon glyphicon-comment"></i>
			</div>

			<div formArrayName="attributes">
				<div *ngFor="let attribute of formProduct.controls.attributes.controls; let i=index">
					<div [formGroupName]="i">
						<div>
							<div class="attribute" [ngClass]="{'col-md-10': i>=1 }">
								<div class="row">
									<div class="col-md-4">
										<i class="glyphicon glyphicon-usd"></i>
										<input type="text" formControlName="price" placeholder="Product Price" required>
									</div>
									<div class="col-md-4">
										<i class="glyphicon glyphicon-fire"></i>
										<input type="text" formControlName="discount" placeholder="Product Discount" required>
									</div>
									<div class="col-md-4">
										<i class="glyphicon glyphicon-plus"></i>
										<input type="text" formControlName="stock" placeholder="Product stock" required>
									</div>
								</div>
								<div class="row attributes_secondrow">
									<div class="col-md-4">
										<i class="glyphicon glyphicon-tag"></i>
										<input type="text" formControlName="state" placeholder="Product state" required>
									</div>
									<div class="col-md-4">
										<i class="glyphicon glyphicon-tint"></i>
										<input type="text" formControlName="color" placeholder="Product color" required>
									</div>
									<div class="col-md-4">
										<i class="glyphicon glyphicon-user"></i>
										<input type="text" formControlName="style" placeholder="Product style" required>
									</div>
								</div>
								<div class="row attributes_secondrow">
									<div class="col-md-4 col-md-offset-4">
										<i class="glyphicon glyphicon-resize-full"></i>
										<input type="text" formControlName="size" placeholder="Product size" required>
									</div>
								</div>
							</div>
							<div *ngIf="i >= 1" class="col-md-2">
								<span class="glyphicon glyphicon-resize-full" (click)="removeAtrribute(i)">
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="text-center">
				<label class="hvr-skew-backward">
					<input type="button" (click)="addAttribute()" value="New Attribute">
				</label>
			</div>

			<div class="top-buffer login-mail">
				<div class="fileUpload hvr-skew-backward">
					<span>Upload</span>
					<input type="file" multiple class="upload" (change)="fileChange(input)" #input />
				</div>

				<div class="row">
					<div *ngFor="let picture of pictures; let i=index">
						<div class="col-md-4">
							<img class="img-responsive" src='{{ picture }}' alt=""/>
						</div>
					</div>
				</div>
			</div>

			<div class="login-mail">
				<div class="row">
					<div *ngFor="let category of allcategories; let i=index">
						<div class="col-md-4">
							<a class="news-letter " href="#">
								<label class="checkbox1">
									<input type="checkbox" #cv (change)="categoryAddSubs(i,cv.checked)">
									<i></i>{{category.name}}
								</label>
							</a>
						</div>
					</div>
				</div>
			</div>
				
			<div class="text-center">
				<label class="hvr-skew-backward">
					<input [disabled]="loading" type="submit" value="Register">
				</label>
			</div>

		</div>
		<div class="clearfix"> </div>
	</form>
</div>