<div class="container">
	<form novalidate [formGroup]="formProduct" (ngSubmit)="createProduct()">
		<div class="col-md-8 col-md-offset-2 login-do">
			<div class="login-mail">
				<input type="text" formControlName="name" placeholder="Product Name" required>
				<i class="glyphicon glyphicon-list-alt"></i>
			</div>
			<div class="login-mail">
				<textarea rows="4" cols="56" formControlName="description" placeholder="Product Description" required></textarea>
				<i class="glyphicon glyphicon-comment"></i>
			</div>

			<div formArrayName="attributes">
				<div *ngFor="let attribute of formProduct.controls.attributes.controls; let i=index">
					<!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
					<div [formGroupName]="i">
						<!--street-->
						<div>
							<div class="attribute" [ngClass]="{'col-md-10': i>=1 }">
								
								<div class="row">
									<div class="col-md-4">
										<input type="text" formControlName="price" placeholder="Product Price" required>
										<i class="glyphicon glyphicon-usd"></i>
									</div>
									<div class="col-md-4">
										<input type="text" formControlName="discount" placeholder="Product Discount" required>
										<i class="glyphicon glyphicon-fire"></i>
									</div>
									<div class="col-md-4">
										<input type="text" formControlName="stock" placeholder="Product stock" required>
										<i class="glyphicon glyphicon-plus"></i>
									</div>
								</div>
								<div class="row attributes_secondrow">
									<div class="col-md-4">
										<input type="text" formControlName="state" placeholder="Product state" required>
										<i class="glyphicon glyphicon-tag"></i>
									</div>
									<div class="col-md-4">
										<input type="text" formControlName="color" placeholder="Product color" required>
										<i class="glyphicon glyphicon-tint"></i>
									</div>
									<div class="col-md-4">
										<input type="text" formControlName="style" placeholder="Product style" required>
										<i class="glyphicon glyphicon-user"></i>
									</div>
								</div>
								<div class="row attributes_secondrow">
									<div class="col-md-4 col-md-offset-4">
										<input type="text" formControlName="size" placeholder="Product size" required>
										<i class="glyphicon glyphicon-resize-full"></i>
									</div>
								</div>
							</div>
							<div *ngIf="i >= 1" class="col-md-2">
								<span class="glyphicon glyphicon-resize-full" (click)="removeAtrribute(i)">
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="text-center">
				<label class="hvr-skew-backward">
					<input type="button" (click)="addAttribute()" value="New Attribute">
				</label>
			</div>




			<!--<div *ngFor="let att of attributes;">
				<div class="login-mail">
					<div class="newattr">
						<div class="row">
							<my-product-attribute [attribute]="att"></my-product-attribute>
						</div>
					</div>
				</div>
			</div>-->

			<!--<form novalidate [formGroup]="formAttribute" (ngSubmit)="addAttribute()">
				<div>
					<div class="login-mail">
						<div class="input-group">
							<span class="input-group-addon">Price: </span>
							<input type="text" formControlName="price" placeholder="Product Price" required>
							<i class="glyphicon glyphicon-usd"></i>
						</div>
						<div class="input-group">
							<span class="input-group-addon">Discount: </span>
							<input type="text" formControlName="discount" placeholder="Product Discount" required>
							<i class="glyphicon glyphicon-fire"></i>
						</div>
						<div class="input-group">
							<span class="input-group-addon">Stock: </span>
							<input type="text" formControlName="stock" placeholder="Product stock" required>
							<i class="glyphicon glyphicon-plus"></i>
						</div>
						<div class="input-group">
							<span class="input-group-addon">State: </span>
							<input type="text" formControlName="state" placeholder="Product state" required>
							<i class="glyphicon glyphicon-tag"></i>
						</div>
						<div class="input-group">
							<span class="input-group-addon">Style: </span>
							<input type="text" formControlName="style" placeholder="Product style" required>
							<i class="glyphicon glyphicon-user"></i>
						</div>
						<div class="input-group">
							<span class="input-group-addon">Color: </span>
							<input type="text" formControlName="color" placeholder="Product color" required>
							<i class="glyphicon glyphicon-tint"></i>
						</div>
						<div class="input-group">
							<span class="input-group-addon">Size: </span>
							<input type="text" formControlName="size" placeholder="Product size" required>
							<i class="glyphicon glyphicon-resize-full"></i>
						</div>

						<div class="text-center">
							<label class="hvr-skew-backward">
								<input [disabled]="loading" type="submit" value="Add Attribute">
							</label>
						</div>
					</div>
				</div>
			</form>-->

			<div class="text-center">
				<label class="hvr-skew-backward">
						<input [disabled]="loading" type="submit" value="Register">
					</label>
			</div>

		</div>
		<div class="clearfix"> </div>
	</form>
</div>